# ==============================
# DATA (do not upload datasets)
# ==============================
data/raw/*
data/images/*
data/annotations/*

# ==============================
# IMAGE FILES
# ==============================
*.tif
*.tiff
*.png
*.jpg
*.jpeg

# ==============================
# PYTHON CACHE
# ==============================
__pycache__/
*.pyc

# ==============================
# JUPYTER NOTEBOOK
# ==============================
.ipynb_checkpoints/

# ==============================
# MACOS SYSTEM FILES
# ==============================
.DS_Store

# ==============================
# EDITOR BACKUP FILES
# ==============================
*~
